:root {
  --primary-text-color: #444444;
  --secondary-text-color: #000000;
  --catalog-text-color: #222222;
  --catalog-title-color: #111111;
  --accent-color: #68b738;
  --accent-hover: #5eaa2f;
  --accent-light: #ffffff;
  --accent-dark: #666666;
  --background-basic: #f2f2f2;
  --background-secondary: #eaeaea;
}
