/* GLOBAL */
@import "./common/root.scss";
@import "./common/variables.scss";
@import "./common/mixins.scss";
@import "./common/fonts.scss";
@import "./common/global.scss";
@import "./common/visually-hidden.scss";

/* BLOCKS */
@import "./blocks/button.scss";
@import "./blocks/title.scss";
@import "./blocks/logo-image.scss";
@import "./blocks/logo-text.scss";
@import "./blocks/form.scss";
@import "./blocks/socials.scss";
@import "./blocks/developer-logo.scss";
@import "./blocks/page.scss";
@import "./blocks/header.scss";
@import "./blocks/navigation.scss";
@import "./blocks/main-container.scss";
@import "./blocks/product.scss";
@import "./blocks/programs.scss";
@import "./blocks/guideline.scss";
@import "./blocks/example.scss";
@import "./blocks/slider.scss";
@import "./blocks/footer.scss";
@import "./blocks/address-container.scss";
@import "./blocks/catalog-container.scss";
@import "./blocks/catalog.scss";
@import "./blocks/card.scss";
@import "./blocks/additions.scss";
@import "./blocks/gift.scss";
@import "./blocks/subscribe.scss";
