.button {
  font-family: $second-font;
  font-size: 16px;
  line-height: 1.25;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--accent-light, #ffffff);
  background-color: var(--accent-color, #68b738);
  border-style: none;
  padding: 10px 20px;
  cursor: pointer;
}

.button--secondary {
  background-color: #f2f2f2;
  color: var(--primary-text-color, #444444);
  padding: 10px 20px;
  height: 40px;
  width: 100%;
}
