.card {
  //
}

.card__image {
  //
}

.card__title {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 1.25;
  text-transform: uppercase;
  color: var(--catalog-text-color, #222222);
}

.card__info {
  font-size: 12px;
}

.card__info-content {
  //
}

.card__info-value {
  //
}

.card__button {
  //
}
