.catalog {
  //
}

.catalog__wrapper {
  //
}

.catalog__title {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 1.25;
  text-transform: uppercase;
  color: var(--catalog-title-color, #111111);
}

.catalog__subtitle {
  font-size: 12px;
}

.catalog__list {
  list-style: none;
}

.catalog__item {
  //
}

.catalog__card-more {
  //
}

.catalog__button {
  //
}

.catalog__additions {
  //
}
