.developer-logo {
  text-decoration: none;
  color: var(--primary-text-color, #444444);
}

.developer-logo__text {
  font-size: 16px;
  line-height: 1.25;
  text-decoration: none;
  text-align: left;
  position: relative;
  margin: auto 0;

  &:active,
  &:focus {
    opacity: 0.3;
  }
}

.developer-logo__image {
  width: 27px;
  height: 34px;
  margin-left: auto;
  margin-top: 0;
  margin-bottom: 0;
  position: relative;

  &::before {
    content: "";
    width: 25px;
    height: 32px;
    mask-image: url("../../icons/stack.svg#icon_html-academy");
    background-color: var(--accent-dark, #666666);
    mask-position: center;
    mask-repeat: no-repeat;
    position: absolute;
  }

  &:hover::before,
  &:focus::before {
    background-color: var(--accent-color, #68b738);
  }

  &:active::before {
    background-color: var(--accent-color, #68b738);
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    margin-left: 23px;
  }
}
