.example {
  //
}

.example__container {
  //
}

.example__title {
  //
}

.example__description {
  //
}

.example__stats {
  //
}

.example__days {
  //
}

.example__weight {
  //
}

.example__quantity {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  line-height: 1;
  text-transform: uppercase;
  color: var(--secondary-text-color, #000000);
}

.example__content {
  font-size: 12px;
  line-height: 1;
}

.example__expenses {
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  line-height: 1.4;
  text-transform: uppercase;
  color: var(--secondary-text-color, #000000);
}

.example__expenses-price {
  //
}

.example__slider {
  //
}
