.example {
  background-color: var(--background-secondary, #eaeaea);

  @media (min-width: 768px) {
    background: none;
    position: relative;
  }

  @media (min-width: $tablet-width) {
    &::before {
      content: "";
      position: absolute;
      background-color: var(--background-secondary, #eaeaea);
      width: 100%;
      height: 462px;
      bottom: 0;
      z-index: -1;
    }
  }
}

.example__container {
  padding: 25px 20px 49px;

  @media (min-width: $tablet-width) {
    padding: 30px 45px 101px;
    display: flex;
    flex-wrap: wrap;
  }

  @media (min-width: $desktop-width) {
    padding: 70px 110px 75px;
    display: grid;
    grid-template-columns: 440px 1fr;
    grid-template-rows: auto 1fr 77px 75px;
  }
}

.example__title {
  margin: 0 0 40px;

  @media (min-width: $desktop-width) {
    grid-column: 1/-1;
    grid-row: 1;
    margin: 0 0 76px;
    font-size: 60px;
    line-height: 1;
  }
}

.example__description {
  @media (min-width: $desktop-width) {
    width: 440px;
    margin: 70px 0;
  }
}

.example__stats {
  display: flex;
  justify-content: space-around;
  margin: 35px 0;

  @media (min-width: $tablet-width) {
    gap: 43px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1/2;
    grid-row: 3/4;
    margin: 0;
  }
}

.example__days {
  //
}

.example__weight {
  //
}

.example__quantity {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  line-height: 1;
  text-transform: uppercase;
  color: var(--secondary-text-color, #000000);
  margin: 0 0 8px;
  text-align: center;
}

.example__content {
  font-size: 12px;
  line-height: 1;
  margin: 0;
  text-align: center;
}

.example__expenses {
  font-family: $second-font;
  font-size: 14px;
  line-height: 1.4;
  text-transform: uppercase;
  text-align: center;
  color: var(--secondary-text-color, #000000);
  margin: 0 0 20px;

  @media (min-width: $tablet-width) {
    margin: 55px 0;
    display: inline-flex;
    margin-left: auto;
    flex-direction: column;
    align-items: flex-end;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1/2;
    grid-row: 4/5;
    margin: 0;
    flex-direction: row;
    justify-content: space-around;
    place-items: center;
  }
}

.example__expenses-price {
  //
}

.example__slider {
  margin: 0 auto;
  max-width: 280px;

  @media (min-width: $tablet-width) {
    margin: 0 auto;
    max-width: 560px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2/-1;
    grid-row: 1/5;
  }
}
