.footer {
  background-color: var(--background-basic, #f2f2f2);
}

.footer__address {
  position: relative;

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 565px 655px 1fr;
    grid-template-rows: 95px auto 106px;
  }
}

.footer__address--catalog .footer__address-container {
  @media (min-width: $tablet-width) {
    background-color: var(--background-basic, #f2f2f2);
  }

  @media (min-width: $desktop-width) {
    background-color: var(--accent-light, #ffffff);
  }
}

.footer__address-container {
  display: flex;
  padding: 26px 20px;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: #ffffff;

  @media (min-width: $tablet-width) {
    padding: 60px 70px;
  }

  @media (min-width: $desktop-width) {
    padding: 60px 75px 60px 80px;
    width: 565px;
    min-height: 199px;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    z-index: 0;
  }
}

.footer__address-map {
  width: 100vw;
  border: none;
  display: block;

  @media (min-width: $tablet-width) {
    height: 400px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    min-height: 400px;
    height: 100%;
  }
}

.footer__map-picture {
  display: block;
  position: absolute;
  top: 0;
  z-index: -1;
}

.footer__container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 40px 20px;
  position: relative;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    padding: 57px 30px;
  }

  @media (min-width: $desktop-width) {
    padding: 66px 0;
    width: 1220px;
    margin: 0 auto;
  }
}

.footer__link {
  max-width: 128px;
  margin: 0 auto;
  position: relative;

  @media (min-width: $tablet-width) {
    margin: 0;
    justify-self: left;
  }

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.footer__socials {
  margin: 0 auto;
  position: relative;
}

.footer__container::before {
  content: "";
  background-color: #d9d9d9;
  width: calc(100% - 40px);
  height: 1px;
  display: inline-block;
  position: absolute;
  top: 82px;

  @media (min-width: $tablet-width) {
    content: none;
  }
}

.footer__container::after {
  content: "";
  background-color: #d9d9d9;
  width: calc(100% - 40px);
  height: 1px;
  display: inline-block;
  position: absolute;
  bottom: 95px;

  @media (min-width: $tablet-width) {
    content: none;
  }
}

.footer__developer {
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    justify-self: end;
    width: 165px;
    height: 35px;
    display: inline-flex;
    justify-content: flex-end;
  }
}
