.footer {
  //
}

.footer__wrapper {
  //
}

.footer__address {
  position: relative;
}

.footer__address--catalog {
  background-color: var(--background-basic, #f2f2f2);
}

.footer__address-container {
  display: flex;
  padding: 26px 20px;
  justify-content: space-between;
  flex-wrap: wrap;

  @media (min-width: $tablet-width) {
    padding: 60px 70px;
  }

  @media (min-width: $desktop-width) {
    padding: 60px 78px 60px 80px;
    width: 565px;
    background-color: #ffffff;
    position: absolute;
    bottom: 50%;
    transform: translateY(-50%);
    left: 110px;
  }
}

.footer__address-map {
  width: 100%;
}

.footer__map-picture {
  display: block;
}

.footer__container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 40px 20px;
  background-color: #f2f2f2;
  position: relative;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    padding: 55px 30px;
  }

  @media (min-width: $desktop-width) {
    padding: 66px 110px;
  }
}

.footer__container-logo {
  max-width: 128px;
  margin: 0 auto;
  position: relative;

  @media (min-width: $tablet-width) {
    margin: 0;
    justify-self: left;
  }
}

.footer__socials {
  margin: 0 auto;
  position: relative;
}

.footer__container::before {
  content: "";
  background-color: #d9d9d9;
  width: 100%;
  height: 1px;
  display: inline-block;
  position: absolute;
  top: 85px;
  left: 0;

  @media (min-width: $tablet-width) {
    content: none;
  }
}

.footer__container::after {
  content: "";
  background-color: #d9d9d9;
  width: 100%;
  height: 1px;
  display: inline-block;
  position: absolute;
  bottom: 95px;
  left: 0;

  @media (min-width: $tablet-width) {
    content: none;
  }
}

.footer__developer {
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    display: inline-flex;
    justify-content: flex-end;
  }
}
