.form {
  //
}

.form__input {
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  line-height: 1;
  text-transform: uppercase;
  color: var(--primary-text-color, inherit);
  margin-bottom: 16px;
  width: 100%;
  padding: 13px;
  border-style: solid;
  border-width: 1px;
  border-radius: 0;
  border-color: #cdcdcd;
}


.form__button {
  //
}
