.gift {
  background-image: url("../../images/catalog/gift-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-color: var(--accent-color, #68b738);
  background-size: 100% auto, cover;
  width: 280px;
  height: 290px;
  margin: 0 auto;
  margin-top: 35px;
}

.gift__subtitle {
  color: var(--accent-light, #ffffff);
  text-align: center;
  margin: 0 auto;
  width: 170px;
  position: relative;
  padding-top: 187px;
}

.gift__subtitle::before {
  content: "";
  display: block;
  position: absolute;
  background-image: url("../../icons/stack.svg#icon_gift");
  background-repeat: no-repeat;
  background-position: center;
  width: 56px;
  height: 60px;
  margin: 0 auto;
  right: 0;
  top: 0;
  transform: translateX(-100%) translateY(100%);
}
