.guideline {
  //
}

.guideline__container {
  padding: 0 20px 49px;

  @media (min-width: $tablet-width) {
    padding: 0 30px 47px;
  }

  @media (min-width: $desktop-width) {
    padding: 71px 106px 0 110px;
  }
}

.guideline__title {
  margin: 0 0 40px;
}

.guideline__list {
  list-style: none;
  margin: 0;
  padding-left: 80px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    column-gap: 73px;
    padding: 0;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
    column-gap: 73px;
  }
}

.guideline__item {
  margin-bottom: 20px;
  position: relative;

  @media (min-width: $tablet-width) {
    padding: 160px 0 63px;
    width: 250px;
    flex-grow: 1;
  }

  @media (min-width: $desktop-width) {
    padding: 151px 0 57px;
    width: 250px;
    flex-grow: 1;
  }
}

.guideline__item:nth-last-child(1) {
  margin-bottom: 0;
}

.guideline__description {
  margin: 0;

  @media (min-width: $desktop-width) {
    width: 245px;
  }
}

.guideline__description--nutricion {
  position: relative;
}

.guideline__description--nutricion::before {
  content: "";
  position: absolute;
  background-image: url("../../icons/stack.svg#icon_leaf");
  background-size: 30px 32px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--accent-color, #68b738);
  width: 60px;
  height: 60px;
  left: -80px;

  @media (min-width: $tablet-width) {
    left: 0;
    bottom: 80px;
    width: 80px;
    height: 80px;
    background-size: 25px 28px;
  }
}

.guideline__description--powder {
  position: relative;
}

.guideline__description--powder::before {
  content: "";
  position: absolute;
  background-image: url("../../icons/stack.svg#icon_boil");
  background-size: 26px 29px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--accent-color, #68b738);
  width: 60px;
  height: 60px;
  left: -80px;

  @media (min-width: $tablet-width) {
    left: 0;
    bottom: 80px;
    width: 80px;
    height: 80px;
    background-size: 25px 28px;
  }
}

.guideline__description--meal {
  position: relative;
}

.guideline__description--meal::before {
  content: "";
  position: absolute;
  background-image: url("../../icons/stack.svg#icon_meal");
  background-size: 25px 30px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--accent-color, #68b738);
  width: 60px;
  height: 60px;
  left: -80px;

  @media (min-width: $tablet-width) {
    left: 0;
    bottom: 80px;
    width: 80px;
    height: 80px;
    background-size: 25px 28px;
  }
}

.guideline__description--changes {
  position: relative;
}

.guideline__description--changes::before {
  content: "";
  position: absolute;
  background-image: url("../../icons/stack.svg#icon_weights");
  background-size: 26px 31px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--accent-color, #68b738);
  width: 60px;
  height: 60px;
  left: -80px;

  @media (min-width: $tablet-width) {
    left: 0;
    bottom: 80px;
    width: 80px;
    height: 80px;
    background-size: 25px 28px;
  }
}
