.navigation {
  //
}


.navigation__list {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  text-align: center;

  @media (min-width: $tablet-width) {
    display: inline-flex;
    flex-wrap: wrap;
    place-items: center end;
    margin-left: auto;
    gap: 33px;
  }
}


.navigation__item {
  padding: 22px 20px 24px;

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}

.navigation__item--current {
  //
}

.navigation__link {
  font-family: $second-font;
  font-size: 20px;
  line-height: 1;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--secondary-text-color, #000000);

  @media (min-width: $desktop-width) {
    color: #ffffff;
  }
}

.navigation__list--catalog a {
  @media (min-width: $desktop-width) {
    color: var(--secondary-text-color, #000000);
  }
}
