.product {
  //
}

.product__container {
  //
}

.product__title {
  //
}

.product__slogan {
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  line-height: 1;
  color: #ffffff;
}

.product__button {
  //
}
