.programs {
  //
}

.programs__list {
  list-style: none;
}

.programs__item {
  //
}

.programs__item--slim {
  //
}

.programs__item--pro {
  //
}

.programs__title {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  line-height: 1.5;
  text-transform: uppercase;
  color: var(--secondary-text-color, #000000);
}

.programs__description {
  //
}

.programs__link {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 1;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--secondary-text-color, #000000);
}
