.slider {
  //
}

.slider__container {
  position: relative;
}

.slider__button {
  position: absolute;
  padding: 0;
  width: 4px;
  height: 256px;
  background-color: var(--accent-dark, #666666);
  border-radius: 2px;
  border-style: none;
  left: 50%;
  z-index: 1;
}

@media (min-width: $tablet-width) {
  .slider__button {
    height: 100%;
  }
}

.slider__button::before {
  content: "";
  display: block;
  position: absolute;
  width: 40px;
  height: 40px;
  background-image: url("../../icons/stack.svg#icon_slider");
  background-repeat: no-repeat;
  background-position: center;
  transform: translate(-50%, -50%);
  left: 50%;
}

.slider__cat {
  //
}

.slider__cat--fat {
  //
}

.slider__cat--slim {
  position: absolute;
  left: 0;
}
