.socials {
  //
}

.socials__list {
  list-style: none;
  display: flex;
  gap: 24px;
  padding: 0;
  margin: 0;
}

.socials__item {
  //
}

.socials__link {
  display: flex;
  width: 28px;
  height: 22px;

  &::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    mask-image: var(--icon);
    mask-position: center;
    mask-repeat: no-repeat;
    background-color: var(--accent-dark, #666666);
    width: 28px;
    height: 22px;
  }

  &:hover::before,
  &:focus::before {
    background-color: var(--accent-color, #68b738);
  }

  &:active::before {
    background-color: var(--accent-color, #68b738);
    opacity: 0.3;
  }
}

.socials__link--vkontakte {
  --icon: url("../../icons/stack.svg#icon_vkontakte");
}

.socials__link--youtube {
  --icon: url("../../icons/stack.svg#icon_youtube");
}

.socials__link--telegram {
  --icon: url("../../icons/stack.svg#icon_telegram");
}
