.subscribe {
  //
}

.subscribe__wrapper {
  //
}

.subscribe__title {
  //
}

.subscribe__subtitle {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: var(--secondary-text-color, #000000);
}

.subscribe__form {
  //
}
