.title {
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  line-height: 1.1;
  color: var(--secondary-text-color, #000000);
}

.title--light-version {
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  line-height: 1;
  color: #ffffff;
}

.title--small {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  line-height: 1;
  color: var(--secondary-text-color, #000000);
}
